<%= render "components/banner" %>

  <div class="cards-container">
    <% @lists.each do|list| %>
    <div class="card-category">
      <div class="card-image">
        <img src= <%= list.url %> alt="">
      </div>
      <%= link_to list_path(list), class:"list-name-link" do %>
        <div class="card-name">
          <p><%= (list.name).capitalize %></p>
        </div>
         <% end %>
    </div>
    <% end %>
  </div>
