<%= render "components/banner" %>

  <div class="cards-container">
    <% @lists.each do|list| %>
    <div class="card-category">
      <div class="card-image">
        <img src= <%= list.url %> alt="">
      </div>
      <div class="card-name">
        <%= link_to (list.name).capitalize, list_path(list) %>.
      </div>
    </div>
    <% end %>
  </div>
