<%= render "components/banner_list" %>

<div class="cards-container">
    <% @list.bookmarks.each do |bookmark| %>
    <div class="film-card">
      <div class="film-poster">
        <img src= <%= bookmark.movie.poster_url %> alt="">
      </div>
      <div class="film-info">
        <p><%= bookmark.comment %></p>
        <%= bookmark.movie.title.capitalize %>.
      </div>
    </div>
    <% end %>
  </div>
