<div class="banner">
    <div id="title-pop"><h1>}lists.{</h1></div>
</div>
<div id="new-list-section">
  <div></div>
  <%= link_to new_list_path(@list), id:"new-list-btn" do  %>
    <div>
      <p>.new</p>
    </div>
  <% end %>
</div>
