// Specific CSS for your home-page
body{
  margin-left: auto;
  margin-right: auto;
  background-color: #FFF7EB;
}
// phone
@media (max-width: 479px ){
  body{
    margin: 0px;
  }

}
@media (max-width: 767px ){
  body{
    margin: 0px;
  }

}

// tablet
@media (max-width: 991px ){
  body{
    margin: 0px;
  }
}
// laptop
@media (min-width: 1280px ){
  body{

    max-width: 2048px;
  }
}
