
.banner{
  // background-image: url("https://images.unsplash.com/photo-1581250505145-d35ac1eab29d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDl8fGNpbmVtYXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60");
  background-color: #EDFA4E;
  background-size: cover;
  background-position: 0% 85%;
  padding: 20px 0px;
  border-color: black;
  border-style: solid;
  border-width: 4px 4px 0px 4px;
  h1{
    // margin-bottom: 8px;
    font-size: 90px;
    color: black;
    font-weight: 700;
    padding: 10px 10px;
  }
  a{
    color: black;
    font-weight: 700;
    text-decoration: none;
  }

}
#title-pop{
  width: 100%;
  padding: 0px 12px;
  height: 400px;
  display: flex;
  justify-content: left;
  align-items: center;

}
#new-list-section{
  background-color: white;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-color: black;
  border-style: solid;
  border-width: 4px 4px 0px 4px;
}
#new-list-btn{
  font-size: 20px;
  background-color: #4EFBB3;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-left: 4px solid black;
  width: 40%;
  padding: 20px;
  height: 90px;
  p{
    text-decoration: none;
    color: black;
    margin: 0;
    font-size: 30px;
    font-weight: 700;
  }
  &:hover{
    background-color: rgb(95, 165, 165);
  }
}
a{
  text-decoration: none;
}
